
/* Header -> offcanvas */
.navbar {
    background: #f0c09c;
    /* margin-bottom: 10px; */
}

.navbar button{
    background: #f0c09c;
    border: none;
    outline: none;
    color: white;
}

.navbar button:hover{
    background: #f0c09c;
    color: white;
}

.navbar .close-btn{
    background: white!important;
    color: #9e5319 ;
}

.navbar .close-btn:hover{
    background: white!important;
    color: #9e5319 ;
}
.navbar .close-btn:active{
    background: white!important;
    color: #9e5319 ;
    outline: none;
    border: none;
}

/* Header */

header .cart-items .title {
    font-size: 12px;
    color: #222222;
}

header .cart-items .btn-group .btn{
    font-size: 12px;
    color: #222222;
    background-color: white;
    border-radius: 0px!important;
}

header .cart-items .price{
    font-size: 12px;
    margin-top: 7px;
    margin-left: 2px;
    text-wrap: nowrap;
}

header .cart-items .btn-close{
    background: white;
    color: black;
    display: inline-flex;
    font-size: 25px;
}

header .cart-items .btn-close:hover{
    border: none;
    outline: none;
}

header .offcanvas .otot{
    color: #222222;
}

header .offcanvas .cdlt{
    background: white;
    color: black;
}

header .offcanvas .chkbtn{
    background: #222222;
    color: white;
    width: 100%;
    padding: 10px;
}



/* EachCard */

.allpro .card{
    max-height: 350px!important;
    min-height: 350px!important;
    border-radius: 0px!important;
    margin: 10px;
    border: 1px solid #292929;
}

.allpro .card-body{
    max-height: 120px;
}

.allpro .card-body .text-muted{
    font-size: 14px;
}

.allpro .card-body .h6{
    font-size: 12px;
    font-weight: 700;
}

.allpro .card-img{
    padding-top: 30px;
    padding-bottom: 30px;
}

.allpro .ecimg{
    max-height: 100px;
}

.allpro .cardfooter button{
    text-wrap: nowrap;
    font-size: 12px;
}

.allpro .cardfooter .cbtn{
    background: #222222;
    color: white;
    border-radius: 0px;
}

.allpro .cardfooter .vbtn{
    background: #333;
    color: white;
    border-radius: 0px;
}
